
table,th,td{
		border:2px solid black;
		width :1100px;
	
		
	}
	
	table{
		display:flex;
  flex-direction:row;
  margin: 100px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius:5px;
	}
	
	 
.bk_details
{
	width :50%;
	height : 300px;
}

	table{
		margin-left : 15%;
	
	}
	
	.category
	{
		 background-color:black;
	border:digits;
	border-color :goldenrod;
    color: goldenrod;
    width: 160px;
    padding:14px 25px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-right: 13px;
	border-radius:8px;
	}