.pic{
	width:100px;
	height:100px;
	margin-left:90px;
	
	
}

.loginboxx{
	width:320px;
	height:420px;
	top:75%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
    background:rgba(0,0,0,0.9);
	box-sizing:border-box;
	padding:20px;
	color:white;
}

.heading{
  margin:0;
  font-size:30px;
  font-family:san-seriff;
  margin:15px 0 25px;
  text-align:center;
}

input{
	border:none;
	border-bottom:1px solid;
	border-image-slice: 1;
	border-image-source:linear-gradient(to right,#DFBD69,#926F34);
	background:transparent;
	width:100%;
	outline:none;
	height:40px;
	font-size:16px;
	margin-bottom:20px;
	caret-color:white;
	color:white;
}

.bttn{
	border:none;
	outline:none;
	font-size:18px;
	height:40px;
	border-radius:20px;
	height:40px;
	background:linear-gradient(to right,#DFBD69,#926F34);
	cursor:pointer;
	width:100%;
	transition-duration:0.5s;
}
 label
 {
	 font-family:montserrat;
 }
 



